<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>myfolio Website Template | Home :: w3layouts</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!----webfonts--->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<!---//webfonts--->
		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
	</head>
	<body>
		<!----- start-header---->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="#"><img src="images/logo.png" title="Johndeo" /></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li><a href="#home" class="scroll">Home</a><span> </span></li>
								<li><a href="#about" class="scroll">About ME </a></li>
								<li><a href="#services" class="scroll">Services</a></li>
								<li><a href="#work" class="scroll">MY work</a><span> </span></li>
								<li><a href="#contact" class="scroll">contact ME</a></li>
								<div class="clearfix"> </div>
							</ul>
							<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- //End-header---->
			<!----banner---->
			<div class="banner">
				<!---- banner-info ---->
				<div class="banner-info text-center">
					<p>Lorem ipsum dolor sit iusmod tempor </p>
					<h1>incididunt bore</h1>
					<span>Orem ipsum dolor sit amet, consectetur</span>
					<label> </label>
					<div class="clearfix"> </div>
					<a  class="scroll bannner-btn" href="#about">KNOW MORE</a>
				</div>
				<!-- //banner-info ---->
			</div>
			<!--//banner---->
			<!---- about --->
			<div id="about" class="about">
				<div class="about-head text-center">
					<div class="container">
						<h2>ABOUT ME</h2>
						<span> </span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <label>quis nostrud exercitation ullamco</label> laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
					</div>
				</div>
				<!--- about-grids --->
				<div class="about-grids text-center">
					<div class="container">
						<div class="col-md-3 about-grid">
							<span class="light-icon"> </span>
							<h3><a href="#">Title goes here</a></h3>
							<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							<label> </label>
						</div>
						<div class="col-md-3 about-grid">
							<span class="pen-icon"> </span>
							<h3><a href="#">Title goes here</a></h3>
							<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							<label> </label>
						</div>
						<div class="col-md-3 about-grid">
							<span class="cog-icon"> </span>
							<h3><a href="#">Title goes here</a></h3>
							<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							<label> </label>
						</div>
						<div class="col-md-3 about-grid">
							<span class="mon-icon"> </span>
							<h3><a href="#">Title goes here</a></h3>
							<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!--- about-grids --->
			</div>
			<!----//about --->
			<!--- services ---->
			<div id="services" class="services">
					<!---services-grids--->
					<div class="services-grids">
						<div class="col-md-6 services-grid-left">
							<div class="service-head">
								<h2>SERVICES</h2>
								<span> </span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<!----- services-grid-left-grids ---->
							<div class="services-grid-left-grids">
								<div class="col-md-6 services-grid-left-grid">
									<span> </span>
									<h3><a href="#">Title goes here</a></h3>
									<p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
								</div>
								<div class="col-md-6 services-grid-left-grid">
									<span class="search"> </span>
									<h3><a href="#">Title goes here</a></h3>
									<p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
								</div>
								<div class="col-md-6 services-grid-left-grid">
									<span class="clock"> </span>
									<h3><a href="#">Title goes here</a></h3>
									<p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
								</div>
								<div class="col-md-6 services-grid-left-grid">
									<span class="chart"> </span>
									<h3><a href="#">Title goes here</a></h3>
									<p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
								</div>
							</div>
							<!----- services-grid-left-grids ---->
						</div>
						<div class="col-md-6 services-grid-right">
							
						</div>
						<div class="clearfix"> </div>
					</div>
					<!---services-grids--->
			</div>
			<!---//services ---->
			<!---- works ---->
			<div id="work" class="works">
				<div class="conatiner">
					<div class="works-head text-center">
						<h2>MY WORK</h2>
						<span> </span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
					<!---works-grids--->
					<div class="works-grids">
						<div class="works-grid col-md-3">
							<img src="images/w1.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w2.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w3.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w4.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w5.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w6.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w7.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="works-grid col-md-3">
							<img src="images/w8.jpg" title="name" />
							<div class="caption">
								<h4>Title goes here</h4>
								<p>onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!--//works-grids--->
				</div>
			</div>
			<!----//works ---->
			<!---- contact ----->
			<div id="contact" class="contact">
				<div class="conatiner">
					<div class="contact-head text-center">
							<h2>CONTACT ME</h2>
							<span> </span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<!----Contact-form---->
				<div class="Contact-form">
					<div class="send-form text-center">
						<form>
							<span class="text-box1">
								<label>NAME</label>
								<input type="text" value="Enter your name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your name';}">
							</span>
							<span class="text-box2">
								<label>EMAIL ADDRESS</label>
								<input type="text" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}">
							</span>
							<span class="text-box3">
								<label>MESSAGE</label>
								<textarea>Type yor message</textarea>
							</span>
							<div class="clearfix"> 
						</form>
					</div>
				</div>
				<!----Contact-form---->
			</div>
			<!----//contact ----->
			<!----copy-right---->
			<div class="copy-right text-center">
				<div class="container">
					<p>Template by <a href="#">MakeMyFolio</a></p>
					<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
					</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>
			<!---//copy-right---->
	</body>
</html>

